#notification{
    width: 20%;
    height: auto;
    background-color: #00CC99;
    opacity: .9;
    z-index: 9999;
    position: fixed;
    margin-left: 80%;
    margin-top: 3.3%
    border-radius: 5px;
    color: #fff;
    display: none;}
#notification-ajax{
    width: 20%;
    height: auto;
    background-color: #00CC99;
    opacity: .9;
    z-index: 9999;
    position: fixed;
    margin-left: 80%;
    margin-top: .3%;
    border-radius: 5px;
    color: #fff;
    display: none;
}
.noti-cross{
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
   
    }
#noti-body{
font-size: 16px;
text-align: center;
padding-bottom: 9%;
padding-left: 1%;
padding-right: 1%;
}
#noti-body-ajax{
font-size: 16px;
text-align: center;
padding-bottom: 9%;
padding-left: 1%;
padding-right: 1%;
}
#cross{
    cursor: pointer;
}
#cross:hover{
    color: #F9F9F9;
}